<p>Aplikace pro zobrazení dat</p>
<p>Pro záznam dat z pohybu byla použita aplikace Tower Collector. Odkaz na aplikaci 
   <a href="https://play.google.com/store/apps/details?id=info.zamojski.soft.towercollector&hl=en&pli=1" target="_blank">zde</a>. 
</p>
<p>Soubor s ukázkovými daty můžete stáhnout <a href="dummyData.csv" target="_blank">zde</a>.</p>
<p>Data se nahrávají ve formátu CSV.</p>
<p>Po vybrání souboru klikněte na "Upload", aby se data nahrála.</p>
<p>Data můžete zobrazit v tabulce nebo na mapě pomocí LeafLet.</p>

